{{> navbar}}
<main>
  <div class="container">
    <div class="row">
      <div class="col l6 offset-l3">
        <h5 class="dashboard-heading">Welcome To The Dashboard, <span class="username">{{user.username}}</span>!</h5>
      </div>
    </div>
     <form  method="POST" action="/student_registration">

            <div class="row">
              <div class="input-field col s10 offset-s1">
                <select class="form-control" name="teacherID">
                   <option value="" disabled selected>Choose  Teacher</option>
                  {{#each teachers}}
                  <option  value={{id}}>{{firstname}} {{lastname}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="input-field col s5 offset-s1">
                <select class="form-control" name="taID">
                  <option value="" disabled selected>Choose TA</option>
                  {{#each tas}}
                  <option value={{id}}>{{firstname}} {{lastname}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="input-field col s5">
                <select class="form-control" name="taID2">
                  <option value="" disabled selected>Choose TA</option>
                  {{#each tas}}
                  <option value={{id}}>{{firstname}} {{lastname}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <button type="submit" class="waves-effect waves-light btn">Register</button>
            <div class="not-lr right">Already Registered? Click <a href="/login">here</a> to login!</div>

          </form>
  </div>

</main>
