<header>
  <div class="sliver">
    <ul>
      <li><a href="#" class="link">Universitywide</a></li>
      <li><a href="#" class="link">New Brunswick</a></li>
      <li><a href="#" class="link">RBHS</a></li>
      <li><a href="#" class="link">Newark</a></li>
      <li><a href="#" class="link">Camden</a></li>
      <li><a href="#">Online</a></li>
    </ul>
  </div>
  <div class="nav-callout">
    <div id="pentagon">
      <div class="square"><span class="date center-align">1766-2016</span><span class="logo center-align">Rutgers</span><span  class="year center-align"> 250</span></div>
    </div>
 <h4 class="rutgers250">The State Univeristy of New Jersey</h4>
    <div class="buttons right">
      <a href="/" class="waves-effect waves-light index-btn login btn"><i class="material-icons index-icon">home</i>Home</a>
      <a href="/logout" class="waves-effect waves-light index-btn register btn"><i class="material-icons index-icon">exit_to_app</i>Logout</a>
    </div>
    <div class="btm_sliver">
      <ul>
        <li><a href="#"class="link">Info For</a></li>
        <li><a href="#"class="link">Research</a></li>
        <li><a href="#"class="link">Health and Healthcare</a></li>
        <li><a href="#"class="link">Athletics</a></li>
        <li><a href="#"class="link">Alumni</a></li>
        <li><a href="#"class="link">Admissions</a></li>
        <li><a href="#"class="link">Academic</a></li>
        <li><a href="#"class="link">About</a></li>
      </ul>
    </div>

  </div>
</header>
<main>
  <div class="container">
    <div class="row">
      <div class="col l6 offset-l3">
        <h5>Welcome To The Instructor Dashboard!</h5>
      </div>
    </div>
     <form  method="POST" action="/student_registration">
            <div class="row">
              <div class="input-field col s10 offset-s1">
                <input  id="first_name" type="text" name="firstname" class="validate" >
                <label for="first_name">First Name</label>
              </div>
           </div>

            <div class="row">
              <div class="input-field col s10 offset-s1">
                <input id="last_name" type="text" name="lastname" class="validate">
                <label for="last_name">Last Name</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s10 offset-s1">
                <input id="username" type="text" name="username" class="validate">
                <label for="username">Username</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s10 offset-s1">
                <input id="password" type="password" name="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s10 offset-s1">
                <select class="form-control" name="teacherID">
                   <option value="" disabled selected>Choose  Teacher</option>
                  {{#each teachers}}
                  <option  value={{id}}>{{firstname}} {{lastname}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="input-field col s5 offset-s1">
                <select class="form-control" name="taID">
                  <option value="" disabled selected>Choose TA</option>
                  {{#each tas}}
                  <option value={{id}}>{{firstname}} {{lastname}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="input-field col s5">
                <select class="form-control" name="taID2">
                  <option value="" disabled selected>Choose TA</option>
                  {{#each tas}}
                  <option value={{id}}>{{firstname}} {{lastname}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <button type="submit" class="waves-effect waves-light btn">Register</button>
            <div class="not-lr right">Already Registered? Click <a href="/login">here</a> to login!</div>

          </form>
  </div>
{{#each data}}
{{ta.firstname}}
 {{/each}}

</main>
