{{> navbar}}
<main>
  <div class="container">
    <div class="row">
      <div class="col l6 offset-l3">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#student">Student</a></li>
          <li class="tab col s3"><a href="#instructor">Instructor</a></li>
        </ul>
      </div>
      <div id="student" class="col s6 offset-s3">
        <div class="row">
          <form  method="POST" action="/student_registration">
            <div class="row">
              <div class="input-field col s10 offset-s1">
                <input  id="first_name" type="text" name="firstname" class="validate" >
                <label for="first_name">First Name</label>
              </div>
           </div>

            <div class="row">
              <div class="input-field col s10 offset-s1">
                <input id="last_name" type="text" name="lastname" class="validate">
                <label for="last_name">Last Name</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s10 offset-s1">
                <input id="username" type="text" name="username" class="validate">
                <label for="username">Username</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s10 offset-s1">
                <input id="password" type="password" name="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s10 offset-s1">
                <select class="form-control" name="teacherID">
                   <option value="" disabled selected>Choose  Teacher</option>
                  {{#each teacher}}
                  <option  value={{id}}>{{firstname}} {{lastname}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="input-field col s5 offset-s1">
                <select class="form-control" name="taID">
                  <option value="" disabled selected>Choose TA</option>
                  {{#each ta}}
                  <option value={{id}}>{{firstname}} {{lastname}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="input-field col s5">
                <select class="form-control" name="taID2">
                  <option value="" disabled selected>Choose TA</option>
                  {{#each ta}}
                  <option value={{id}}>{{firstname}} {{lastname}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <button type="submit" class="waves-effect waves-light btn">Register</button>
            <div class="not-lr right">Already Registered? Click <a href="/login">here</a> to login!</div>

          </form>
        </div>
      </div>



      <div id="instructor" class="col s6 offset-s3">
        <div class="row">
          <form  method="POST" action="/instructor_registration">
            <div class="row">
              <div class="input-field col s10 offset-s1">
                <input id="first_name" type="text" name="firstname" class="validate" >
                <label for="first_name">First Name</label>
              </div>
            </div>
             <div class="row">
              <div class="input-field col s10 offset-s1">
                <input id="last_name" type="text" name="lastname" class="validate">
                <label for="last_name">Last Name</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s10 offset-s1">
                <input id="username" type="text" name="username" class="validate">
                <label for="username">Username</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s10 offset-s1">
                <input id="password" type="password" name ="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>

            <div class="row radio">
              <div class="input-field col s5 offset-s1">
                <div>
                  <input name="teachOrTA" type="radio" id="test1" value="teacher"/>
                  <label for="test1">Teacher</label>
                </div>
              </div>
               <div class="input-field col s5 offset-s1">
                <div>
                  <input name="teachOrTA" type="radio" id="test2" value="ta" />
                  <label for="test2">TA</label>
                </div>
              </div>
            </div>
            <button type="submit" class="waves-effect waves-light btn">Register</button>
            <div class="not-lr right">Already Registered? Click <a href="/login">here</a> to login!</div>

           </form>
        </div>
      </div>
    </div>
  </div>
</div>
